# ==============================================================================
# VARIABLES D'ENVIRONNEMENT MATOA SAAS (Sanity Cloud & Authentification)
# ==============================================================================

# 1. Configuration Sanity Cloud (Base de données)
SANITY_PROJECT_ID=cchdhqvw
SANITY_DATASET=production
SANITY_API_TOKEN=skEGKHtehXGVW6vZV3vOQxxnJPuM2ySmjAvkYWI68CtKUgJOt5lOBLgtBeLKQhUNgtNgoPNpp6ewuJumw2t7PZdJdnBObPSh0Z886EQpZOsTkh6O9uc1ySmCt3MYP2XFzcDNlcwSkyPBSdarV6O6rxmXveGpkA5lb7mLFyOJ5TKZj00n6LRh
SANITY_API_VERSION=2024-01-01

# 2. Clé secrète JWT (Authentification des sessions)
JWT_SECRET=matoa-super-secret-jwt-key-2026

# 3. Port serveur local (optionnel)
PORT=3000
